/* Reset some default styles */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}
main h1 {
    margin-top: 120px;
    position: relative;
}
main h1 span{
    color: #640b93;
}
h1 span::before {
    content: ''; 
    display: inline-block;
    width: 10px; 
}

header{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px #e8d0f5;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #211e1e;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #640b93;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.featured_books{
    width: 100%;
    height: 55vh;
    padding: 70px 0;
}


.featured_books .featured_book_box{
    width: 95%;
    height: 55vh;
    margin: 0 auto;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 0;
}

.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
    border-radius: 2px;
}

.featured_books .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #e8d0f5;
}

.featured_books .featured_book_box .featured_book_card .featurde_book_img img{
    width: 150px;
}

.featured_boooks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #919191;
}

.featured_books .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: #640b93;
    margin-top: 8px;
}

.featured_books .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_books .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_books .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #640b93;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}


::-webkit-scrollbar-thumb{
    background: #640b93;
    border-radius: 10px;
}

.filters {
    margin-top: 20px;
    text-align: center;
}

.filters ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.filters li {
    margin: 0 15px;
}
/*reviews*/

.reviews{
    width: 100%;
    height: auto;
}

.reviews h1{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.reviews .review_box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .review_box .review_card{
    width: 400px;
    height: 320px;
    box-shadow: 0 0 8px #e8d0f5;
    padding: 15px;
    margin: 0 12px;
}

.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}

.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}

.reviews .review_box .review_card .card .review_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #e8d0f5;
    padding: 0 1px;
}

.contact, .social {
    text-align: center;
}

.social ul {
    list-style: none;
    display: flex;
}

.social li {
    margin: 0 10px;
}

.social a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.fa {
    width: 20px;
    height: 20px;
}

/*Footer*/

footer{
    width: 100%;
    background: #eeeeee;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #640b93;;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color:#640b93;
    margin-left: 10px;
}


.banner{
    width: 100%;
    height: 50vh;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner .banner_btn{
    padding: 8px 20px;
    background: #640b93;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}
